{{ define "main" }}

<!-- banner -->
{{ if site.Data.home.banner.enable }}
{{ with site.Data.home.banner }}
<section class="banner py-5">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
                <!-- <h1>{{ .title | markdownify }}</h1> -->
                <h2>{{ .subtitle | markdownify }}</h2>
                <p>{{ .content | markdownify }}</p>
                {{ if .button.enable }}
                {{ with .button }}
                <a href="{{ .link }}" class="btn btn_primary mr-3">{{ .label }}</a>
                {{ end }}
                {{ end }}
            </div>
            <div class="col-12 col-md-6">
                <img src="{{ .image | absURL }}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- about -->

<section class="about my-5 py-5">
    <div class="container">

        <div class="row justify-content-between align-items-center">
            {{ range $index, $val := .Site.Taxonomies.tags.about }}
            <div class="col-md-5">
                <img src="{{.Page.Params.image}}" class="img-fluid rounded-3" alt="{{.Name}}">

            </div>
            <div class="col-md-5 mt-5 mt-md-0">
                <h1>{{ .Page.Params.title }}</h1>
                {{.Summary}}
                <a href="{{ .Permalink }}" class="btn btn_primary">Know more</a>
            </div>


            {{end}}

        </div>

    </div>
</section>

{{ with site.Data.home.quotes }}
<section class="quotes">
    <div class="container">
        {{range first 1 .quoteItem}}
        <img class="img-fluid icon" src="/images/icons/quote-left-solid.svg" alt="">
        <blockquote class="text-center d-inline-block">
            {{.title | markdownify}}
        </blockquote>
        {{end}}
    </div>
</section>
{{end}}
<!-- courses -->
<section id="courses" class="courses">
    <div class="container">
        {{ if site.Data.home.Courses.enable }}
        {{ with site.Data.home.Courses }}
        <h1 class="text-center">{{ .title | markdownify }}</h1>
        <div class="col-md-8 mx-auto">
            <p>{{ .subtitle | markdownify }}</p>
        </div>
        {{ end }}
        {{ end }}

        {{ range $index, $val := .Site.Taxonomies.tags.courses }}
        <div class="row justify-content-between my-5">


            <h2 class="text-center mb-5">{{ .Page.Params.title }}</h2>
            <div class="col-lg-4">
                <img class="img-fluid rounded-3" src="{{ .Page.Params.image }}" alt="{{.Name}}">
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0">
                <p>{{ .Content }} </p>
            </div>
        </div>
        {{ end }}
        <a href="{{.Site.BaseURL}}enquiry" class="btn btn_primary w-50 d-grid mx-auto">Enquire about our courses</a>

    </div>
</section>


<!-- advantage -->
{{ if site.Data.home.advantage.enable }}
{{ with site.Data.home.advantage }}
<section class="section pb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2>{{ .title | markdownify }}</h2>
                <p class="mb-4">{{ .subtitle | markdownify }}</p>
                <ul class="list-unstyled" style="columns: 2;">
                    {{ range .advantageList }}
                    <li class="mb-3"><i class="ti-arrow-circle-right text-primary mr-2"></i>{{ .listItem }}</li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-md-6">
                <img src="{{ .image | absURL}}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}




<!-- testimonial -->
{{ if site.Data.home.testimonial.enable }}
{{ with site.Data.home.testimonial }}
<section class="testimonial bg_primary py-5">
    <div class="container">
                <h2 class="text-center">{{ .title | markdownify }}</h2>
        <div class="row flex-nowrap overflow-auto">
            {{ range .testimonialItem }}
            <div class="col-4">
                <p class="quoted">{{ .content | markdownify }}</p>
                <h6 class="font-weight-medium">{{ .name | markdownify }}</h6>

            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}


<!-- CTA -->
{{ if site.Data.home.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}