<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <section class="top_bar">
            <ul class="top_bar-list">
              <li>Pregnancy</li>
              <li>Postpartum care</li>
              <li>Newborn care</li>
              <li>Breastfeeding</li>
              <li>Lactation Counselling</li>
              <!-- <li class="push-right">
                <a href="tel:7550114682" title="call" aria-label="Gayathri's (Iraivi) mobile number">7550114682</a>
              </li> -->
            </ul>
          </section>
        <ul class="social_media_icons list-unstyled">
            <li class="social_media_icons-list__item whatsapp"title="Iraivi's whatsapp page"><a href="https://wa.me/917550114682"><img class="img-fluid svg svg-social" src="/images/icons/whatsapp-brands.svg" alt="whatsapp-brands"></a></li>
            <li class="social_media_icons-list__item instagram"title="Iraivi's instagram page"><a href="https://www.instagram.com/iraivipregnancycare/" target="_blank"><img class="img-fluid svg svg-social" src="/images/icons/instagram-brands.svg" alt="instagram-brands"></a></li>
        </ul>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}

        
    </body>
</html>
