@use "../abstracts"as *;

.banner {
  // background-color: $clr-light;
  background: rgb(251, 239, 243);
  background: linear-gradient(307deg, rgba(251, 239, 243, 1) 0%, rgba(241, 203, 217, 1) 43%, rgba(187, 2, 73, 1) 96%);

  img {
    border-radius: 0% 100% 35% 65% / 53% 55% 45% 47%;
    box-shadow: 19px 20px 32px -17px rgba(94, 2, 37, 1);
  }
}

// .course_intro {
//   // @extend .py-section;
//   // color: $white;

// }

.bubbles {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  // overflow:hidden;
  top: 0;
  left: 0;

  .bubble {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    background: $clr-primary;
    border-radius: 50%;
    opacity: 0.5;
    animation: rise 10s infinite ease-in;

    &:nth-child(1) {
      width: 40px;
      height: 40px;
      left: 10%;
      animation-duration: 8s;
    }

    &:nth-child(2) {
      width: 20px;
      height: 20px;
      left: 20%;
      animation-duration: 5s;
      animation-delay: 1s;
    }

    &:nth-child(3) {
      width: 50px;
      height: 50px;
      left: 35%;
      animation-duration: 7s;
      animation-delay: 2s;
    }

    &:nth-child(4) {
      width: 80px;
      height: 80px;
      left: 50%;
      animation-duration: 11s;
      animation-delay: 0s;
    }

    &:nth-child(5) {
      width: 35px;
      height: 35px;
      left: 55%;
      animation-duration: 6s;
      animation-delay: 1s;
    }

    &:nth-child(6) {
      width: 45px;
      height: 45px;
      left: 65%;
      animation-duration: 8s;
      animation-delay: 3s;
    }

    &:nth-child(7) {
      width: 90px;
      height: 90px;
      left: 70%;
      animation-duration: 12s;
      animation-delay: 2s;
    }

    &:nth-child(8) {
      width: 25px;
      height: 25px;
      left: 80%;
      animation-duration: 6s;
      animation-delay: 2s;
    }

    &:nth-child(9) {
      width: 15px;
      height: 15px;
      left: 70%;
      animation-duration: 5s;
      animation-delay: 1s;
    }

    &:nth-child(10) {
      width: 90px;
      height: 90px;
      left: 25%;
      animation-duration: 10s;
      animation-delay: 4s;
    }
  }
}

@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }

  50% {
    transform: translate(100px);
  }

  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}


.courses {
  padding: 2% 0;

  &__row {
    padding: 5% 10%;

    .content {
      border-radius: 50px;
      background: linear-gradient(145deg, #ffffffb7, rgba(255, 255, 255, 0.7));
      box-shadow: 20px 20px 60px #fff,
        -20px -20px 60px #ffffff;
        padding: 1rem 2rem;
    }

    &:nth-child(1) {
      background: $clr-light url(/images/baby-teddy-bear-rear-view-with-design-space.jpg) no-repeat center center/cover fixed;
      // background-blend-mode: multiply;
    }
    &:nth-child(3) {
      // background: $clr-light url(/images/funny-infant-baby-holds-head-up.jpg) no-repeat center center/cover fixed;
      background: $clr-light;
      // background-blend-mode: multiply;
    }
    &:nth-child(5) {
      background: $clr-light url(/images/young-mom-holding-her-baby-air-blank-space.jpg) no-repeat center center/cover fixed;
      // background-blend-mode: multiply;
    }

    h2 {
      // padding-left: 0;
      position: relative;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 50%;
        background-color: $clr-accent;
        display: inline-block;
        left: 0.8rem;
        bottom: 0;
        margin-top: 1rem;
        transform: scale(0.2);
        transform-origin: left;
        transition: transform 500ms ease;
      }

      &:hover {
        &::after {
          transform: scale(100%);
        }
      }
    }

    ul {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 0.9rem;
  }
}

// .testimonial {
//   .container {}
// }

.quotes {
  // background-color: aqua;
  background: url("/images/newborn-baby.jpg") center no-repeat fixed rgba($clr-primary-500, 0.7);
  background-size: cover;
  background-blend-mode: overlay;
  @extend .py-section;
}



.accordion-button {

  // outline: 2px solid red;
  &:focus {
    border: none;
    box-shadow: none;
  }

  &::after {
    background-color: $clr-primary;
    -webkit-mask-image: url('/images/icons/accordian_down-icon.svg');
    mask-image: url('/images/icons/accordian_down-icon.svg');
    background-image: none;
    width: 2rem;
    height: 2rem;
  }

  &:not(.collapsed) {
    color: $clr-accent;
    background-color: $clr-light;
    box-shadow: none;
    font-size: $font_size-body;
  }
}