@use "../abstracts" as *;

.form-control {
  border-color: rgba($clr-accent, 0.14);
  border-radius: 1rem;
  min-height: 3rem;

  &:focus {
    border-color: $clr-primary-500;
    box-shadow: 0 0 0 0.2rem rgba($clr-primary, 0.12);
  }
}
