@use "../abstracts" as *;

footer {
  @extend .py-section;
  background-color: $clr-light;
}
.copyrights{
background-color: $clr-primary;
color: $white;
  img{
    display: unset;
    filter: invert(1);
    margin: 0 .25rem;
  }
  p{
    // flex-grow: 1;
    margin-bottom: 0;
  }
  a{
    color: $clr-light;
  }
}
