{{ $path := .RelPermalink }}
{{ $mainMenu := site.Menus.main.ByWeight }}
<nav class="navbar navbar-expand-lg navbar-light site-header">
  <div class="container">
    <a class="navbar-brand" href="{{ "/" | relURL }}">
      <img class="img-fluid" src="{{ site.Params.logo | relURL }}" alt="{{ site.Title }}">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
        {{ range $item := $mainMenu }}
          {{ if ne $item.Params.show false }}
            {{ $isActive := false }}
            {{ if eq $item.Identifier "home" }}
              {{ $isActive = $.IsHome }}
            {{ else if eq $item.Identifier "about" }}
              {{ $isActive = eq $path "/about-me/" }}
            {{ else if eq $item.Identifier "blog" }}
              {{ $isActive = hasPrefix $path "/blog/" }}
            {{ else if eq $item.Identifier "courses" }}
              {{ $isActive = hasPrefix $path "/courses/" }}
            {{ else if eq $item.Identifier "lactation" }}
              {{ $isActive = or (eq $path "/lactation-consultation/") (eq $path "/courses/lactation-consultation/") }}
            {{ else if eq $item.Identifier "faq" }}
              {{ $isActive = false }}
            {{ else if eq $item.Identifier "enquiry" }}
              {{ $isActive = or (eq $path "/enquiry/") (eq $path "/enquiry/course-enrollment-form/") }}
            {{ else }}
              {{ $isActive = or ($.IsMenuCurrent "main" $item) ($.HasMenuCurrent "main" $item) }}
            {{ end }}

            {{ if eq $item.Params.variant "button" }}
            <li class="nav-item mt-3 mt-lg-0">
              <a class="btn btn_primary btn-pill w-100 {{ if $isActive }}active{{ end }}" href="{{ $item.URL | relURL }}">{{ $item.Name }}</a>
            </li>
            {{ else }}
            <li class="nav-item">
              <a class="nav-link {{ if $isActive }}active{{ end }}" href="{{ $item.URL | relURL }}">{{ $item.Name }}</a>
            </li>
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
