@use "abstracts/fonts" as *;

// universal selector
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// tag selectors
html,
body {
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: pink;
}
html {
  scroll-behavior: smooth;
  font-size: 12px;
  // height: 100%;
  @media (min-width: 768px) {
    font-size: 14px;
  }
}
body {
  font-size: $font_size-body;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
  //   padding-top: 15vh;
  // position: relative;
  @media (max-width: 768px) {
    // padding-top: 13vh;
  }
}
a {
  text-decoration: none;
  // color: $clr-accent;
  transition: opacity 250ms ease-in;
  &:hover {
    opacity: 0.85;
  }
}

ul,
li {
  list-style: none;
  // font-size: fonts.$font_size-body;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
h1,
h2 {
  // font-family: "Petit Formal Script", cursive;
  // font-weight: 300;
  // font-family: $font-heading;
  // @extend .mb-1;
}
section {
  padding-block: 6rem;
}
.container {
  width: Min(991px, 80%);
  margin: 0 auto;
}
